html {
	background-color: color('background');
	font-family: Lato;
}

html,
body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

.page {
	flex: 1 1 auto;

	@include media('desktop') {
		@include add-wrap(1150px, 20px);

		display: flex;
	}
}

body {
	style {
		display: none;
	}
}

h3 {
	position: relative;
	margin: 30px 0 20px;
}

.main {
	&__header {
		margin: 30px 0;
		color: color('primary');
		font-size: 30px;
		font-weight: 300;
		text-align: right;

		@include media('desktop') {
			font-size: 45px;
		}
	}

	&__description {
		font-size: 18px;
	}

	&__homepage {
		margin: 30px 0;
	}

	@include media('desktop') {
		flex: 0 1 950px;
		max-width: 950px;
		border-left: 2px solid color('secondary');
	}
}

.select-all {
	user-select: all;
}

code {
	display: inline-block;
	padding: 2px;
	background-color: color('primary');
	color: color('white');
	font-family: monospace;
}
