html {
	margin-left: calc(100vw - 100%);
	background-color: $colorWhite;
	font-family: Lato;
}

html,
body,
.page {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

.page {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 10px;
}

body {
}

h3 {
	position: relative;
	margin: 30px 0 20px;
}

.main {
	width: calc(100% - 200px);
	margin-left: auto;
	padding: 40px 0;

	&__header {
		margin-bottom: 30px;
		font-size: 45px;
		font-weight: 300;
		text-align: right;
	}

	&__container {
	}

	&__description {
		font-size: 18px;
	}
}

.section {
	&__wrap {
		padding-left: 60px;
	}

	&-description {
		margin: 20px 0;
		line-height: 22px;
	}

	&-footer {
		margin: 20px 0;
	}

	&-source {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		&__link {
			position: relative;
			color: $colorSecondary;
			color: $colorSecondary;
			font-family: monospace;
			white-space: nowrap;

			&:before {
				content: "";
				position: absolute;
				bottom: -2px;
				width: 100%;
				height: 1px;
				background: $colorSecondary;
			}
		}
	}

	&-item {
		margin: 20px 0 30px;

		&__title {
			display: inline-block;
			margin: 15px 0 20px;
			padding-top: 5px;
			padding-bottom: 5px;
			background: $colorWhite;
			font-size: 21px;
		}
	}
}

.select-all {
	user-select: all;
}

code {
	display: inline-block;
	padding: 2px;
	background-color: $colorPrimary;
	color: $colorWhite;
	font-family: monospace;
}

.kss-example {
	position: relative;
	padding-top: 30px;
	margin-top: 30px;

	& + & {
		border-top: 1px solid $colorSecondary;
	}

	&-wrapper {
		& > *:first-child {
			padding-top: 0;
			margin-top: 0;
		}
	}
}

.kss-output {
	&__title {
		padding: 5px;
		background: #fdfdfd;
		border-left: 10px solid $colorSecondary;

		.kss-code {
			transform: translateY(-1px);
		}
	}
}

.section-title {
	display: block;
	position: sticky;
	z-index: 3;
	top: 0;
	left: 0;
	margin: 30px 0 35px;
	padding: 10px 10px 10px 0;
	background: $colorWhite;
	box-shadow: 5px 5px 10px #f3f7fb;

	&__ref {
		color: $colorBlack;
		font-size: 14px;
		font-style: italic;
	}

	&__text {
		&.depth {
			&-2 {
				font-size: 38px;
			}

			&-3 {
				font-size: 25px;
			}
		}
	}

	&__link {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&.depth {
		&-2 {
			border-left: 20px solid $colorSecondary;
			border-bottom: 2px solid $colorSecondary;
		}

		&-3 {
			border-left: 10px solid $colorSecondary;
		}
	}
}
