html {
  margin-left: calc(100vw - 100%);
  background-color: $colorBackground;
  font-family: Lato;
}

html,
body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

.doc-page {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  flex-direction: row;
}

body {
  style {
    display: none;
  }
}

h3 {
  position: relative;
  margin: 30px 0 20px;
}

.doc-main {
  flex: 0 0 1100px;
  padding: 40px 0;
  border-left: 2px solid $colorSecondary;

  &__header {
    color: $colorPrimary;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 300;
    text-align: right;
  }

  &__container {
  }

  &__description {
    font-size: 18px;
  }
}

.section {
  &-description {
    margin: 20px 0;
    line-height: 22px;
  }

  &-footer {
    margin: 20px 0;
  }

  &-source {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__link {
      position: relative;
      color: $colorSecondary;
      color: $colorSecondary;
      font-family: monospace;
      white-space: nowrap;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: $colorSecondary;
      }
    }
  }

  &-item {
    margin: 30px 0;

    &__title {
      display: inline-block;
      margin-bottom: 15px;
      font-size: 18px;
    }
  }
}

.select-all {
  user-select: all;
}

code {
  display: inline-block;
  padding: 2px;
  background-color: $colorPrimary;
  color: $colorWhite;
  font-family: monospace;
}

.kss-example {
  position: relative;
  padding-top: 30px;
  margin-top: 30px;

  & + & {
    border-top: 1px solid $colorSecondary;
  }

  &-wrapper {
    & > *:first-child {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.kss-output {
  &__title {
    padding: 5px;
    background: #fdfdfd;
    border-left: 10px solid $colorSecondary;

    .kss-code {
      transform: translateY(-1px);
    }
  }
}

.doc {
  &-wrap-section {
    padding-left: 60px;

    .section--depth-2 & {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 4px;
        height: 100%;
        background: $colorSecondary;
      }
    }
  }
}
