[class^='language-'] {
	margin-top: 0 !important;
	margin-bottom: 15px !important;
	border-top: 0 !important;
	border-color: color('primary') !important;
	box-shadow: 0 0px 0px 0px color('primary'), 0px 0px 0px 1px color('white') !important;

	&:before,
	&:after {
		content: none !important;
	}

	code {
		margin-bottom: 0 !important;
	}
}

.language-none {
	padding: 10px !important;
	border-top: 10px solid color('primary');
	background: rgba(69, 142, 209, 0.04);
	box-shadow: 0 0px 0px 0px color('primary'), 0px 0px 0px 1px color('white');
	white-space: normal !important;
}
