@keyframes iframeContentLoading {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes iframeContentResponsive {
	from {
		width: 100%;
	}

	to {
		width: 320px;
	}
}

.iframe-content {
	position: relative;
	width: 100%;
	overflow-x: auto;
	background: color('background');
	font-size: 0;

	&:not(.is-active) {
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			transform: translate(-50%, -50%);
			animation-name: iframeContentLoading;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			animation-iteration-count: infinite;
			background: color('primary');
		}

		.iframe-content {
			&__content {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
			}
		}
	}

	&__iframe {
		box-sizing: border-box;
		width: 868px;
		height: 0;
		border: 0;
		border-right: 6px solid color('primary') !important;
		background: #fff;
	}
}
