@keyframes iframeContentLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes iframeContentResponsive {
  from {
    width: 100%;
  }

  to {
    width: 320px;
  }
}

.iframe-content {
  position: relative;

  &:not(.is-active) {
    &:before {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: $colorPrimary;
      content: '';
      animation-name: iframeContentLoading;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }

    .iframe-content {
      &__content {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }

  &__iframe {
    height: 0;
    width: 100%;
    border: 0;
  }

  &--responsive {
    .iframe-content {
      &__iframe {
        animation-name: iframeContentResponsive;
        animation-duration: 8s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}
