@keyframes iframeContentLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes iframeContentResponsive {
  from {
    width: 100%;
  }

  to {
    width: 320px;
  }
}

.iframe-content {
  font-size: 0;
  position: relative;
  width: 100%;
  background-image: linear-gradient(45deg, $colorBackground 25%, rgba(44, 44, 45, 0) 25%, rgba(44, 44, 45, 0) 75%, $colorBackground 75%, $colorBackground), linear-gradient(45deg, $colorBackground 25%, rgba(44, 44, 45, 0) 25%, rgba(44, 44, 45, 0) 75%, $colorBackground 75%, $colorBackground);
  background-color: #232425;
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;

  &:not(.is-active) {
    &:before {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background: $colorPrimary;
      content: '';
      animation-name: iframeContentLoading;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }

    .iframe-content {
      &__content {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
    }
  }

  &__iframe {
    background: #fff;
    box-sizing: border-box;
    border-right: 6px solid $colorBackground !important;
    height: 0;
    width: 100%;
    border: 0;
  }

  &--responsive {
    .iframe-content {
      &__iframe {
        animation-name: iframeContentResponsive;
        animation-duration: 8s;
        animation-timing-function: ease-out;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}
