.sidebar {
	position: fixed;
	top: 0;
	width: 200px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 2px solid $colorSecondary;
}

.sidebar-nav {
	&__menu {
		padding: 40px 20px;

		> *:first-child {
			margin-top: 0;
		}
	}

	&__item {
		margin: 12px 0;

		&--depth {
			&-3 {
				padding-left: 12px;
				border-left: 2px solid transparentize($colorSecondary, 0.5);
			}
		}
	}

	&__link {
		display: block;

		&.is-viewed {
			color: $colorPrimary;
			font-weight: bold;
		}

		&:hover {
			color: darken($colorPrimary, 0.5);
		}
	}

	.is-active {
		> a {
			color: $colorPrimary;
			font-weight: bold;
		}

		> .sidebar-nav {
			&__child {
				padding-left: 12px;
				border-left: 2px solid $colorSecondary;
			}
		}
	}
}
