.sidebar {
	position: sticky;
	z-index: 3;
	top: 0;
	left: 0;
	padding: 10px;
	background: color('background');

	@include media-max('desktop') {
		border-bottom: 2px solid color('primary');
		box-shadow: 10px 10px 10px color('background');
	}
	
	@include media('desktop') {
		flex: 0 0 200px;
		height: 100%;
		max-height: 100vh;
		padding: 40px 20px 40px 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.sidebar-nav {
	&__menu {
		> *:first-child {
			margin-top: 0;
		}

		@include media-max('desktop') {
			@include add-space(20px, 10px);

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;;
		}
	}

	&__item {
		&.depth {
			&-3 {
				margin: 0;
				padding-left: 12px;
				border-left: 2px solid transparentize(color('secondary'), 0.5);
				line-height: 26px;
			}
		}

		@include media('desktop') {
			margin: 12px 0;
		}
	}

	&__link {
		display: block;
		color: color('black');
		text-decoration: none;

		&.is-viewed {
			color: color('primary');
			font-weight: bold;
		}

		&:hover {
			color: darken(color('primary'), 0.5);
		}
	}

	.is-active {
		> .sidebar-nav__link {
			color: color('primary');
			font-weight: bold;
		}

		> .sidebar-nav {
			&__child {
				padding-left: 12px;
				border-left: 2px solid color('secondary');
							
				@include media-max('desktop') {
					display: none;
				}
			}
		}
	}
}
