.doc-sidebar {
  position: sticky;
  flex: 0 0 200px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  max-height: 100vh;
}

.doc-sidebar-nav {
  &__menu {
    padding: 40px 20px;

    > *:first-child {
      margin-top: 0;
    }
  }

  &__item {
    margin: 12px 0;

    &.doc-depth {
      &-3 {
        padding-left: 12px;
        border-left: 2px solid transparentize($colorSecondary, 0.5);
        line-height: 26px;
        margin: 0;
      }
    }
  }

  &__link {
    color: $colorBlack;
    text-decoration: none;
    display: block;

    &.doc-is-viewed {
      color: $colorPrimary;
      font-weight: bold;
    }

    &:hover {
      color: darken($colorPrimary, 0.5);
    }
  }

  .doc-is-active {
    > .doc-sidebar-nav__link {
      color: $colorPrimary;
      font-weight: bold;
    }

    > .doc-sidebar-nav {
      &__child {
        padding-left: 12px;
        border-left: 2px solid $colorSecondary;
      }
    }
  }
}
