.tabs {
	overflow: hidden;

	&-header {
		position: relative;
		z-index: 1;
		padding: 0 5px;
		background: #fff;
		box-shadow: 0 4px 8px 0 transparentize(color('black'), 0.9);

		&__item {
			margin: 0 10px;
			padding-top: 4px;
			border: 0;
			border-bottom: 4px solid transparent;
			background: transparent;
			color: color('black');
			font-size: 16px;
			cursor: pointer;

			&.is-active {
				border-bottom: 4px solid color('secondary');
				cursor: default;
			}

			&:focus,
			&:hover,
			&:active {
				outline: none;
			}
		}
	}

	&-content {
		&__item {
			display: none;

			&.is-active {
				display: block;
			}
		}
	}
}
