.table {
	width: 100%;
	max-width: 700px;
	font-family: monospace;

	thead {
		td {
			padding: 10px 14px;
			background-color: $colorPrimary;
			color: $colorWhite;
			font-weight: bold;
		}
	}

	tbody {
		tr {
			&:hover {
				td {
					background-color: transparentize($colorSecondary, 0.9);
				}
			}
		}

		td {
			padding: 6px 14px;
			border-bottom: 2px solid $colorSecondary;
		}
	}
}
