/*
Wrap

Include wrap function inside container class to hold content in maximize width with space aside corner.
Space can be created in asix x (`padding left` and `padding-right`).
> Set <b>true</b> for parameter <code>$hasParentHover</code> to create trigger hover class `&--hover` for any parent element. 

Function:
add-wrap($max-width, $padding-x);
// $max-width : pixels
// $padding-x? : pixels

Usage:
.wrap {
 @include add-wrap(1024px, 20px);
}

Style:
@include wrap-style;

Style guide: Modules.wrap
*/

/*
Triangle

Create triangle element.

Function:
add-triangle($width, $height, $position, $color);
// $width : number
// $height : number
// $position : 'up' | 'right' | 'down' | 'left'
// $color : string

Usage:
@include add-triangle(10, 10, 'top', #000);

Style guide: Modules.Triangle
*/