/*
Square

Create square element. Child element have container size.

Markup: square.html

Style guide: Blocks.square
*/

/*
Square

Create square element. Child element have container size.

Markup: square.html

Style guide: Blocks.square2
*/